<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="../../../assets/img/img1u.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Hi! I am Vamsi</h2>
            <p>A trained and 1 year experienced angular developer with good understanding of concepts. A good team
                player who is enthusiastic to learn and implement things to grow in career.</p>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="../../../assets/img/img1u.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Hi! I am Vamsi</h2>
            <p>A trained and 1 year experienced angular developer with good understanding of concepts. A good team
                player who is enthusiastic to learn and implement things to grow in career.</p>
        </div>
    </div>
</div>